@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
<style>
    body {
        background-image: url('../../images/background.jpg');
        background-size: cover;
        background-repeat: repeat-y;
        min-height: 800px;
    }

    .dv {
        margin-top: 160px;
        background-color: white;
        margin-bottom: 350px;
    }
</style>
<div class="container dv">
    <h3>Voulez vous vraiment supprimer ce role?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Supprimer" class="btn btn-danger" /> |
                <button class="btn btn-info">@Html.ActionLink("Retour a la liste", "Index")</button>
            </div>
            <br />
        }
    </div>
</div>